<div class="card shadow">
    {{!-- changed from list to media --}}
    {{#if media}}
    {{!-- class delete-media and delete-animate-parent--}}
    <table class="table">
        <thead class="card-header">
            <tr class="bg-yellow">
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Info</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="delete-animate-parent delete-media">
            {{!-- changed from list to media --}}
            {{#each media as |item|}}
            <tr class="delete-animate{{item.id}}">
                <th scope="row">{{increment @index}}</th>
                <td><a class="text-decoration-none list-text" href="/media/{{item.id}}">{{item.title}}</a></td>
                <td >{{item.type}}</td>
                <td >{{item.info}}</td>
                <td><button class="btn btn-sm btn-danger btn-style" data-id="{{item.id}}">DELETE</button></td>      
            </tr> 
            {{/each}}
        </tbody>
    </table>
    <a class="btn btn-style" href="/media">Add to my list!</a>
    {{else}}
    <h2 class="card-header bg-danger text-center">Oh no! Your list is empty!</h2>
    <div class="card-body text-center">
        <a class="btn btn-style" href="/media">Add something!</a>
    </div>
    {{/if}}
</div>
<script src="/js/list.js"></script>